{% extends "base.jinja2" %}
{% block title %}Login{% endblock %}
{% block content %}

	<form action="{{ url }}" method="post" id="login-form">
		<input type="hidden" name="came_from" value="{{ came_from }}"/>

		<div class="username">
{#			<label for="login">Username</label>#}
			<input type="text"
				   id="login"
				   name="login"
				   placeholder="Username"
				   value="{{ login }}"
				   class="form-control"/>
		</div>

		<div class="password">
{#			<label for="password">Password</label>#}
			<input type="password"
				   id="password"
				   name="password"
				   placeholder="Password"
				   value="{{ password }}"
				   class="form-control" />
		</div>

		<input type="submit" name="form.submitted" value="Log In" class="login-submit"/>

		{% if message %}
			<div class="alert alert-danger">{{ message }}</div>
		{% endif %}
	</form>

{% endblock %}