{% extends "base.jinja2" %}
{% block title %}Main{% endblock %}
{% block content %}
	<div id="main-page">
		<h1 class="header">Bird-A</h1>
		<h3 class="description">Builder of Interfaces for RDF Data Authoring</h3>
	</div>
{% endblock %}