# Ignore python bytecode files
*.py[cod]

# Ignore bak directories and log files
*.log

# Ignore sass cache
.sass-cache/

# Editor config files
.idea/
.project
.pydevproject

# Frontend exlusions
fontend/node_modules
fontend/dist
fontend/.tmp
fontend/.sass-cache
fontend/bower_components

# Other Ignores
*.egg
*.egg-info
*.sqlite
*.db
*.DS_Store

# Ignore test ontologies, instances, etc.
backend/birda/scripts/*.rdf
backend/birda/scripts/*.n3
backend/birda/scripts/*.turtle
backend/birda/scripts/*.processed
backend/birda/scripts/*.nt

# Others
doc/MockUp.pdf
