<div id="forms-list" ng-controller="EditController as cEdit">
	<h3 class="page-header">
		{{cEdit.form.label}}
		<br />
		<small>{{cEdit.form.description}}</small>
	</h3>
	<form name="editForm"
		  class="form-content container"
		  novalidate >

		<!-- Header -->
		<div class="form-content-header row">

			<!-- Individual Label -->
			<div class="form-group individual-label"
			     ng-class="{'has-warning': editForm.individual_label.$touched && ! cEdit.individual.label}">
				<!--<label for="individual-uri">-->
					<!--Individual URI-->
				<!--</label>-->
				<input type="text"
					   id="individual_label" name="individual_label"
					   ng-model="cEdit.individual.label"
					   class="form-control text-center input-lg"
					   placeholder="Individual Label" />

				<p ng-show="editForm.individual_label.$touched && ! cEdit.individual.label"
				   class="help-block">
					It's a good idea to set the individual label.
				</p>
			</div>

			<div class="b-col-8-cen form-content-header-sub">
				<!-- Individual URI -->
				<div class="form-group individual-uri"
					 ng-class="{'has-error': editForm.individual_uri.$invalid}" >
					<!--<label for="individual-uri">-->
						<!--Individual URI-->
					<!--</label>-->
					<input type="url"
						   id="individual_uri" name="individual_uri"
						   ng-model="cEdit.individual.uri"
						   ng-readonly="! cEdit.isNew"
						   class="form-control text-center"
						   placeholder="{{cEdit.form.base_uri}}..."
						   required />

					<p ng-show="editForm.individual_uri.$invalid && !editForm.individual_uri.$pristine"
					   class="help-block">
						Individual URI is required and it has to be a valid URI.
					</p>
				</div>

				<!-- Individual Description -->
				<div class="form-group individual-uri">
					<!--<label for="individual-description">-->
						<!--Individual Description-->
					<!--</label>-->
					<textarea id="individual-description"
							  ng-model="cEdit.individual.description"
							  class="form-control text-center" rows="2"
							  placeholder="Individual description"
					></textarea>

				</div>

				<!-- Individual Authors -->
				<!--   ...   -->
				<!--   ...   -->
				<!--   ...   -->

			</div>

		</div>

		<!-- Actions -->
		<div class="form-content-actions row">
			<button class="btn btn-success b-width-125 b-font-130" role="button"
					ng-click="cEdit.saveIndividual(editForm)"
					ng-disabled="editForm.$pristine || ! editForm.$valid">
				<span class="glyphicon glyphicon-ok-circle small" aria-hidden="true"></span>
				Save
			</button>
			<button class="btn btn-primary b-width-125 b-font-130" role="button"
					ng-click="cEdit.discardChanges()">
				<span class="glyphicon glyphicon-remove small" aria-hidden="true"></span>
				Reset
			</button>
			<button class="btn btn-danger b-width-125 b-font-130" role="button"
					ng-click="cEdit.deleteIndividual()">
				<span class="glyphicon glyphicon-trash small" aria-hidden="true"></span>
				Delete
			</button>
		</div>

		<hr />

		<!-- Body -->
		<div class="form-content-body row">
			<div class="form-field" ng-repeat="field in cEdit.form.fields">
				<div ng-switch="field.w_type">
					<b-text-input
						ng-switch-when="TextInput"
						form-field="field"
						individual="cEdit.individual">
					</b-text-input>

					<b-date-input
						ng-switch-when="DateInput"
						form-field="field"
						individual="cEdit.individual">
					</b-date-input>

					<!--<p ng-switch-when="text-input" style="background-color:red">{{field.label}}</p>-->
					<p ng-switch-when="RadioInput" style="background-color:blue">{{field.label}}</p>
				</div>
			</div>
		</div>
	</form>
</div>
