<div id="test" class="section" ng-controller="TestController as cTest">
	<div class="container">
		<h1 class="page-header">Tests</h1>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<div class="b-box b-box-lg">
					<button type="button" class="btn btn-block btn-lg btn-primary"
							ng-click="cTest.testResource()">
						Test Resource
					</button>
					<!--
					<div class="b-box b-box-md">
						sdf
						<div class="b-box b-box-sm b-last">
							piff
						</div>
					</div>
					<div class="b-box b-box-sm b-last b-last">
						puff
					</div>
					-->
				</div>

				<div class="b-box b-box-lg">
					<button type="button" class="btn btn-block btn-lg btn-primary"
							ng-click="cTest.testInstancesFactory()">
						Test Instances Factory
					</button>

					<div ng-show="cTest.testInstancesFactory_active">
						<div class="b-box b-box-md">
							{{cTest.indiv1.uri}}
							<br>
							{{cTest.indiv1.label}}
						</div>

						<div class="b-box b-box-md b-last">
							{{cTest.indiv2.uri}}
							<br>
							{{cTest.indiv2.label}}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
