<!DOCTYPE html>
<html>
	<head>
		<title>proxy</title>
		<!DOCTYPE HTML>
		<script src="//cdn.rawgit.com/jpillora/xdomain/0.7.4/dist/xdomain.min.js"
				master="{{ frontend_uri }}"></script>
	</head>
	<body>
	</body>
</html>