<div class="b-text-input" style="border:solid 1px #DDD">

	<div class="form-group">
		<!-- Label -->
		<label for="{{property.uri}}">
			{{field.label}}
			<br />
			<small>{{field.description}}</small>
		</label>

		<!-- Input row -->
		<div class="form-inline"
			 ng-repeat="value in property.values track by $index">

			<div class="input-group">
				<input type="text"
					   class="form-control"
					   ng-model="property.values[$index]"
					   name="{{property.uri}}"
					   uib-datepicker-popup="{{format}}"
					   is-open="datePopup.opened"
					   min-date="minDate"
					   max-date="maxDate"
					   datepicker-options="dateOptions"
					   date-disabled="disabled(date, mode)"
					   ng-required="true"
					   close-text="Close" />

				<!--
				<input type="date"
					   class="form-control"
					   uib-datepicker-popup
					   ng-model="property.values[$index]"
					   name="{{property.uri}}" />
				-->

				<span class="input-group-btn">
					<button
						class="btn btn-default"
						ng-click="openPopup()">
							<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>

			<button
				class="btn btn-sm btn-primary"
				ng-show="hasMultipleValues()"
				ng-click="delValue($index)">
					<span class="glyphicon glyphicon-remove"></span>
			</button>

		</div>

		<div ng-show="hasMultipleValues()">
			<button
				class="btn btn-sm btn-primary b-width-60"
				ng-click="addValue(property.default)">
					<span class="glyphicon glyphicon-plus"></span> Row
			</button>
			<button
				class="btn btn-sm btn-primary b-width-60"
				ng-click="delAllValues()">
					<span class="glyphicon glyphicon-remove"></span> All
			</button>
		</div>
	</div>
</div>
